WIFI_SSID = '<wifi-ssid>'
WIFI_KEY = '<wifi-key>'

MQTT_HOST = '<mqtt-server>'
MQTT_PORT = 1883
MQTT_SSL = True
MQTT_CLIENT_ID = '<mqtt-client-id>'
MQTT_USERNAME = '<mqtt-username>'
MQTT_PASSWORD = '<mqtt-password>'